/* Tablet vertical pa'bajo */
@media only screen and (max-width: 1023px) {

  nav {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    padding: 60px 20px;
    background-color: #fff !important;
  }
  
  nav .nav-wrapper {
    background-color: #fff;
    height: 100%;
  } 
  
  div.nav-wrapper a.sidenav-trigger i.material-icons {
    background-color: #dfac62;
    width: 50px;
    border-radius: 5px;
    text-align: center;
    height: 38px;
    line-height: 38px;
  }
  nav div.nav-wrapper .sidenav-trigger {
    height: 38px;
    margin: 0;
  }
}
@media only screen and (max-width: 767px) {
  .img-sidenav {
    padding: 30px;
  }

}

nav.nav-center ul {
  text-align: center;
}
nav.nav-center ul li {
  display: inline;
  float: none;
}
nav.nav-center ul li a {
  display: inline-block;
}

header div.social-network img {
  width: 15px;
  height: 15px;
}

@media only screen and (min-width: 768px) and (orientation:portrait) and (min-height:1024px) {
  nav.nav-center .nav-wrapper .brand-logo {
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
  }
}

